## Question 2: Use Webscraping to Extract Tesla Revenue Data

In [ ]:
Use the requests library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named html_data.

In [41]:
!pip install pandas
!pip install requests
!pip install bs4
!pip install html5lib 
!pip install lxml
!pip install plotly

Requirement already satisfied: pandas in c:\users\rudra\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rudra\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rudra\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rudra\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rudra\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rudra\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: requests in c:\users\rudra\anaconda3\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rudra\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rudra\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rudra\anaconda3\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rudra\anaconda3\lib\site-packages (from requests) (2024.8.30)
Requirement already satisfied: bs4 in c:\users\rudra\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\rudra\anaconda3\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\rudra\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Requirement already satisfied: html5lib in c:\users\rudra\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\rudra\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\rudra\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: lxml in c:\users\rudra\anaconda3\lib\site-packages (5.2.1)
Requirement already satisfied: plotly in c:\users\rudra\anaconda3\lib\site-packages (6.0.1)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\rudra\anaconda3\lib\site-packages (from plotly) (1.33.0)
Requirement already satisfied: packaging in c:\users\rudra\anaconda3\lib\site-packages (from plotly) (23.2)

In [3]:
import requests
from bs4 import BeautifulSoup
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [5]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data =requests.get(url).text

Parse the html data using beautiful_soup using parser i.e html5lib or html.parser.

In [7]:
beautiful_soup = BeautifulSoup(html_data,"html.parser")

In [9]:
import pandas as pd
tesla_revenue = pd.DataFrame(columns = ["Date","Revenue"])

In [21]:
tables=beautiful_soup.find_all("table")
for index,table in enumerate(tables):
    if("Tesla Quarterly Revenue" in str(table)):
        table_index=index
tesla_revenue=pd.DataFrame(columns=["Date","Revenue"])
rows = []
for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if len(col) != 2:
        continue
    Date = col[0].text
    Revenue = col[1].text.replace("$", "").replace(",", "")
    rows.append({"Date": Date, "Revenue": Revenue})
    
tesla_revenue = pd.concat([tesla_revenue, pd.DataFrame(rows)])   
print(tesla_revenue)


#for row in beautiful_soup.find("tbody").find_all("tr"):
    #col = row.find_all("td")
    #date = col[0].text
    #revenue = col[1].text
    #tesla_revenue = pd.concat([tesla_revenue,pd.DataFrame({"Date": [date],"Revenue": [revenue]})], ignore_index=True)

          Date Revenue
0   2022-09-30   21454
1   2022-06-30   16934
2   2022-03-31   18756
3   2021-12-31   17719
4   2021-09-30   13757
5   2021-06-30   11958
6   2021-03-31   10389
7   2020-12-31   10744
8   2020-09-30    8771
9   2020-06-30    6036
10  2020-03-31    5985
11  2019-12-31    7384
12  2019-09-30    6303
13  2019-06-30    6350
14  2019-03-31    4541
15  2018-12-31    7226
16  2018-09-30    6824
17  2018-06-30    4002
18  2018-03-31    3409
19  2017-12-31    3288
20  2017-09-30    2985
21  2017-06-30    2790
22  2017-03-31    2696
23  2016-12-31    2285
24  2016-09-30    2298
25  2016-06-30    1270
26  2016-03-31    1147
27  2015-12-31    1214
28  2015-09-30     937
29  2015-06-30     955
30  2015-03-31     940
31  2014-12-31     957
32  2014-09-30     852
33  2014-06-30     769
34  2014-03-31     621
35  2013-12-31     615
36  2013-09-30     431
37  2013-06-30     405
38  2013-03-31     562
39  2012-12-31     306
40  2012-09-30      50
41  2012-06-30      27
42  2012-03-31      30
43  2011-12-31      39
44  2011-09-30      58
45  2011-06-30      58
46  2011-03-31      49
47  2010-12-31      36
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
51  2009-12-31
52  2009-09-30      46
53  2009-06-30      27

In [23]:
print(tesla_revenue)

          Date Revenue
0   2022-09-30   21454
1   2022-06-30   16934
2   2022-03-31   18756
3   2021-12-31   17719
4   2021-09-30   13757
5   2021-06-30   11958
6   2021-03-31   10389
7   2020-12-31   10744
8   2020-09-30    8771
9   2020-06-30    6036
10  2020-03-31    5985
11  2019-12-31    7384
12  2019-09-30    6303
13  2019-06-30    6350
14  2019-03-31    4541
15  2018-12-31    7226
16  2018-09-30    6824
17  2018-06-30    4002
18  2018-03-31    3409
19  2017-12-31    3288
20  2017-09-30    2985
21  2017-06-30    2790
22  2017-03-31    2696
23  2016-12-31    2285
24  2016-09-30    2298
25  2016-06-30    1270
26  2016-03-31    1147
27  2015-12-31    1214
28  2015-09-30     937
29  2015-06-30     955
30  2015-03-31     940
31  2014-12-31     957
32  2014-09-30     852
33  2014-06-30     769
34  2014-03-31     621
35  2013-12-31     615
36  2013-09-30     431
37  2013-06-30     405
38  2013-03-31     562
39  2012-12-31     306
40  2012-09-30      50
41  2012-06-30      27
42  2012-03-31      30
43  2011-12-31      39
44  2011-09-30      58
45  2011-06-30      58
46  2011-03-31      49
47  2010-12-31      36
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
51  2009-12-31
52  2009-09-30      46
53  2009-06-30      27

Execute the following line to remove the comma and dollar sign from the Revenue column.

In [15]:
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].str.replace(',','').str.replace('$','')
#tesla_revenue

Execute the following lines to remove an null or empty strings in the Revenue column.

In [23]:
tesla_revenue.dropna(inplace=True)
tesla_revenue = tesla_revenue[tesla_revenue["Revenue"] != ""]

Display the last 5 row of the tesla_revenue dataframe using the tail function. Take a screenshot of the results.

In [25]:
tesla_revenue.tail()

          Date Revenue
49  2010-06-30      28
50  2010-03-31      21
51  2009-12-31
52  2009-09-30      46
53  2009-06-30      27