## Question 4: Use Webscraping to Extract GME Revenue Data

Use the requests library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named html_data_2.

In [1]:
import requests
from bs4 import BeautifulSoup
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'
html_data_2 = requests.get(url).text

Parse the html data using beautiful_soup using parser i.e html5lib or html.parser

In [5]:
beautiful_soup = BeautifulSoup(html_data_2,'html.parser')

Using BeautifulSoup or the read_html function extract the table with GameStop Revenue and store it into a dataframe named gme_revenue. The dataframe should have columns Date and Revenue. Make sure the comma and dollar sign is removed from the Revenue column.

In [7]:
import pandas as pd
gme_revenue = pd.DataFrame(columns = ["Date","Revenue"])

In [9]:
tables=beautiful_soup.find_all("table")
for index,table in enumerate(tables):
    if("GameStop Quarterly Revenue" in str(table)):
        table_index=index
gme_revenue=pd.DataFrame(columns=["Date","Revenue"])
rows = []
for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if len(col) != 2:
        continue
    Date = col[0].text
    Revenue = col[1].text.replace("$", "").replace(",", "")
    rows.append({"Date": Date, "Revenue": Revenue})
    
gme_revenue = pd.concat([gme_revenue, pd.DataFrame(rows)])

In [9]:
#for row in beautiful_soup.find("tbody").find_all("tr"):
    #col = row.find_all("td")
    #date = col[0].text
    #revenue = col[1].text
    #gme_revenue = pd.concat([gme_revenue,pd.DataFrame({"Date":[date],"Revenue":[revenue]})], ignore_index=True)

In [11]:
print(gme_revenue)

          Date Revenue
0   2020-04-30    1021
1   2020-01-31    2194
2   2019-10-31    1439
3   2019-07-31    1286
4   2019-04-30    1548
..         ...     ...
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709

[62 rows x 2 columns]

In [13]:
gme_revenue["Revenue"] = gme_revenue["Revenue"].str.replace(',','').str.replace('$','')
#gme_revenue

In [15]:
gme_revenue.dropna(inplace=True)
gme_revenue = gme_revenue[gme_revenue["Revenue"]!= ""]

Display the last five rows of the gme_revenue dataframe using the tail function. Take a screenshot of the results.

In [13]:
gme_revenue.tail()

          Date Revenue
57  2006-01-31    1667
58  2005-10-31     534
59  2005-07-31     416
60  2005-04-30     475
61  2005-01-31     709